.profile-image{
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
  border-radius: 50%; /* Makes the image circular */
  margin-right: 0px;
  margin-left: 0px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(212, 24, 24, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.newnav {
  position:absolute; /* Fix the navbar at the top */
  top: 10px; /* Align to the top */
  left: 0; /* Align to the left */
  right: 0; /* Align to the right */
  border-radius: 5px;
  display: flex;
  /* background-color: rgba(128, 128, 128, 0.274);  */
  background-color:#F5F5F5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.473); /* Shadow for depth */
  height: 56px;
  /* margin-top: 15px; */
  flex-grow: 1; 
  padding-left: 10%;
  margin-left: 270px;
  margin-right:20px;
  transition: margin-left 0.3s; /* Smooth transition for margin change */
}

@media (max-width: 768px) {
  .newnav{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    height: auto;
  }
}