/* Sidebar Styles */
.sidebar {
  width: 250px; /* Fixed width for large screens */
  height: 100vh;
  background-color:#F5F5F5;
  position: fixed;
  top: 0;
  left: 0px;
  transition: transform 0.3s ease-in-out;
  z-index: 2;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.295); 
}

.sidebar::-webkit-scrollbar {
  width: 5px; /* set scrollbar width */
  
}

/* Hide sidebar on small screens */
@media (max-width: 768px) {
  .sidebar {
    top: 0;
    left: -250px; /* Hide the sidebar by default on small screens */
    
  }
  .sidebar.visible {
    left: 0; 
    background-color:darkgray;
  }
  .close-btn {
    display: block !important;
  }
}

.close-btn {
  background: none;
  border: none;
  color: brown;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

/* .nav-link {
  color:#1e1e2c;
  
} */

.nav-link {
  color:#343A40;
  
}

.icon-manage{
  padding-right: 8px;
}
