/* Dashboard Content Styles */
.dashboard-content {
  margin-top: 75px;
    margin-left: 270px; /* Adjust margin for sidebar */
    transition: margin-left 0.3s ease-in-out;
    
  }
  
  /* Adjust margin when sidebar is visible on small screens */
  .sidebar-visible {
    margin-left: 0; /* No margin when sidebar is visible */
    
  }

/* Small screens: Adjust margin when sidebar is visible */
@media (max-width: 768px) {
  .dashboard-content {
    margin-left: 0; /* No margin when sidebar is visible */
  }
}


  
  /* Adjustments for large screens */
  @media (min-width: 768px) {
    .sidebar {
      left: 0; /* Always visible on large screens */
    }
  
    .dashboard-content {
      margin-left: 260px; 
    }
  }

  